body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  scroll-behavior: smooth;
}

.table {
  background-color: white;
  display: flex;
  color: black;
  border: solid 5px black;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: end;
}

h1 {
  color: white;
  text-align: center;
}
tr {
  width: 100%;
}
td {
  border: solid 1px black;
  width: 100%;
}
.spacer-row {
  border-left: 0;
  border-right: 0;
  padding: 50px;
  background-color: black;
  margin-top: 0px;
}
